{{ ansible_managed | comment }}

{% for shares_entry in nfs_server_shares %}
    {%- set shared_hosts = [] -%}
    {%- set export = shares_entry['export'] -%}
    {%- for host_entry in shares_entry['hosts'] -%}
        {%- set hostname = host_entry['hostname'] -%}
        {%- set options = ','.join(host_entry['options']) -%}
        {%- set shared_host = hostname + '(' + options + ')' -%}
        {%- do shared_hosts.append(shared_host) -%}
    {%- endfor -%}
{{ export }} {{ shared_hosts | join(' ') }}
{% endfor %}
