{{ ansible_managed | comment }}

# Set history time format
export HISTTIMEFORMAT="%F %T "

# Maximum number of history lines in memory
export HISTSIZE={{ history_size }}

# Maximum number of history lines on disk
export HISTFILESIZE={{ history_file_size }}

# Don't ignore duplicate lines
unset HISTCONTROL

# Ignore commands
export HISTIGNORE="history"

# Store multi-line commands in one history entry
shopt -s cmdhist

# When the shell exits, append to the history file instead of overwriting it
shopt -s histappend

# After each command, append to the history file and reread it
export PROMPT_COMMAND="${PROMPT_COMMAND:+$PROMPT_COMMAND$'\n'}history -a; history -c; history -r"