[docker-ce-stable]
name=Docker CE Stable - $basearch
failovermethod=priority
baseurl=
{% for i in mirrors_hosts %}
    http://{{ i }}/docker-ce/linux/centos/$releasever/$basearch/stable
{% endfor %}
enabled=1
gpgcheck=0
