{{ ansible_managed | comment }}

# For detailed /etc/vsftpd.conf options see the vsftpd.conf man page.

listen=YES
listen_ipv6=NO
listen_address={{ anon_ftp_address }}

local_enable=NO

anonymous_enable=YES
no_anon_password=YES
anon_root={{ anon_ftp_anon_root }}

xferlog_enable=YES
xferlog_file=/var/log/vsftpd.log

idle_session_timeout={{ anon_ftp_idle_session_timeout }}
data_connection_timeout={{ anon_ftp_data_connection_timeout }}

nopriv_user=ftp
hide_ids=YES

connect_from_port_20=YES

pasv_min_port={{ anon_ftp_pasv_min_port }}
pasv_max_port={{ anon_ftp_pasv_max_port }}

use_localtime=YES
