{{ ansible_managed | comment }}

[base]
name=CentOS-$releasever - Base
failovermethod=priority
baseurl=
{% for i in yum_repos_mirrors_hosts %}
    http://{{ i }}/centos/$releasever/os/$basearch/
{% endfor %}
enabled=1
gpgcheck=0

#released updates
[updates]
name=CentOS-$releasever - Updates
failovermethod=priority
baseurl=
{% for i in yum_repos_mirrors_hosts %}
    http://{{ i }}/centos/$releasever/updates/$basearch/
{% endfor %}
enabled=1
gpgcheck=0

#additional packages that may be useful
[extras]
name=CentOS-$releasever - Extras
failovermethod=priority
baseurl=
{% for i in yum_repos_mirrors_hosts %}
    http://{{ i }}/centos/$releasever/extras/$basearch/
{% endfor %}
enabled=1
gpgcheck=0

#additional packages that extend functionality of existing packages
[centosplus]
name=CentOS-$releasever - Plus
failovermethod=priority
baseurl=
{% for i in yum_repos_mirrors_hosts %}
    http://{{ i }}/centos/$releasever/centosplus/$basearch/
{% endfor %}
enabled=0
gpgcheck=0

#contrib - packages by Centos Users
[contrib]
name=CentOS-$releasever - Contrib
failovermethod=priority
baseurl=
{% for i in yum_repos_mirrors_hosts %}
    http://{{ i }}/centos/$releasever/contrib/$basearch/
{% endfor %}
enabled=0
gpgcheck=0
